.select_item {
  background-color: #fff !important;
}

.MuiPagination-ul {
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    color: #ff9f0d !important;
    border: 2px solid #f2f2f2 !important;
  }
  .Mui-selected {
    background-color: #ff9f0d !important;
    color: #fff !important;
    border: none !important;
  }
}

.recomend_Slider {
  .slick-slide {
    width: 270px;
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .recomend_Slider {
    .slick-slide {
      width: 100px;
      margin: 0 10px;
    }
  }
}
